
<div class="container-fluid align-self-end">
   <p-panel header="Получение статистики по топливу">
    <div class="form-group">
      <div class="container-fluid">
        <label class="control-label col-sm-6 col-lg-3 col-xl-3">Юнит: </label>
        <p-dropdown
          class="col-sm-6 col-lg-9 col-xl-9"
          [options]="units"
          optionLabel="id"
          [(ngModel)]="selectedUnit"
          [style]="{'width':'100px'}"
          editable="true"
          required="true"
          name="Юнит">
        </p-dropdown>
      </div>


      <div class="row">
        <label class="control-label col-sm-6 col-lg-3 col-xl-3">Период от</label>
        <div class="col-sm-6 col-lg-9 col-xl-9">
          <p-calendar [(ngModel)]="startDate" required="true"></p-calendar>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-6 col-lg-3">Период по</label>
        <div class="col-sm-6 col-lg-9 col-xl-9">
          <p-calendar [(ngModel)]="endDate" required="true"></p-calendar>
        </div>
      </div>
    </div>

    <div class="row">

      <p-button label="Топливо"
                style="padding-left: 20px"
                (onClick)="fuel($event)"
                styleClass="ui-button-success"></p-button>
      <p-button label="Одометр"
                style="padding-left: 20px"
                (onClick)="fuel($event)"
                styleClass="ui-button-success"></p-button>
    </div>

    <h5 *ngIf="fuelStatistic">Ответ по топливу:</h5>
    <br>


    <table *ngIf="fuelFlatResult" class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th scope="col-sm-3">#</th>
        <th scope="col-sm-3">Дата</th>
        <th scope="col-sm-3">Количество</th>
        <th scope="col-sm-3">Примечание</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{fuelFlatResult?.startDate}}</td>
        <td>{{fuelFlatResult?.startValue}}</td>
        <td>{{fuelFlatResult?.endDescription}}</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>{{fuelFlatResult?.endDate}}</td>
        <td>{{fuelFlatResult?.endValue}}</td>
        <td>{{fuelFlatResult?.endDescription}}</td>
      </tr>
      <tr>
      </tbody>
    </table>
    <img id="scheme1" class="img-fluid" src="assets/images/sheme1.png">
  </p-panel>

</div>








