<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ESB demo</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Скаут<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Личный кабинет</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<p-panel header="Получение статистики по топливу">
  <div class="container-fluid">
    <p-dropdown
      [options]="units"
      optionLabel="id"
      [(ngModel)]="selectedUnit"
      [style]="{'width':'100px'}"
      editable="true"
      required="true"
      name="Юнит">
    </p-dropdown>
  </div>

<form>
<div class="form-group">
  <div class="form-group form-inline">
    <label class="control-label col-sm-3 col-lg-3">Период от</label>
    <div class="col-sm-9">
      <p-calendar [(ngModel)]="startDate" required="true"></p-calendar>
    </div>
  </div>

  <div class="form-group form-inline">
    <label class="control-label col-sm-3 col-lg-3">Период по</label>
    <div class="col-sm-9">
      <div class="col-sm-9">
        <p-calendar [(ngModel)]="endDate" required="true"></p-calendar>
      </div>
    </div>
  </div>
</div>

  <p-button label="Получить"
            (onClick)="handleClick($event)"
            styleClass="ui-button-success"></p-button>
</form>
</p-panel>

<div class="container-fluid">
  <img class="img-responsive" src="assets/images/sheme1.png">
</div>



